@CHARSET "ISO-8859-1";
#nav ul{
    list-style:none;
}

#nav ul li{
    display:inline;
    padding:0 20px;
}

#nav ul li a{
    font-family:"Arial Black";
	color:#153680;
    font-size:16px;
    text-decoration:none;
}

#nav ul li a:hover{
    color:#000000;
}

#nav ul li a.selected{
    font-weight:bold;
}
